.search-box{width: 650px;
    height: 50px;
    background-color: var(--white);
    border-style: hidden;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.4);}
    
    button {width: 100px;
    height: 50px;
    border-radius: 2px;
    background-color: #ac53f2;
    border-style: hidden;
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.4);}