<div fxLayout="row" fxLayoutAlign="center center">
    <input type="text" class="search-box" #searchBox id="search-box" (keyup)="search(searchBox.value)"/>
    <button>
        <img src="../../assets/search-icon.svg">
    </button>
</div>