<div fxLayout="column" fxLayoutAlign="center center">
  <div class="Github-Search" fxLayout="row" fxLayoutAlign="center center">
      <span >Github </span>
      <span class="text-style-1">Search</span>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
          <input type="text" class="search-box" #searchBox id="search-box"/>
          <button (click)="search(searchBox.value)">
              <img src="../../assets/search-icon.svg">
          </button>
      </div>
</div>
