<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="33" class="p-Github-Search" fxLayout="row" fxLayoutAlign="center center">
        <span >Github </span>
        <span class="text-style-1">Search</span>
    </div>
    <div fxFlex="66" fxLayout="row" fxLayoutAlign="center center">
        <input type="text" class="search-box" #searchBox id="search-box" [(ngModel)]="term"/>
        <button (click)="search(searchBox.value)">
            <img src="../../assets/search-icon.svg">
        </button>
    </div>
</div>
