<div fxLayout="row" fxLayoutAlign="start center">
  <div fxFlex="33" fxLayout="column" fxLayoutAlign="start start">
    <div class="user-avatar"></div>
    <span class="user-name">{{user.name}}</span>
    <span class="user-login">{{user.login}}</span>
  </div>
  <div fxFlex="66" fxLayout="column" fxLayoutAlign="start center">
      <app-p-repo-list></app-p-repo-list>
  </div>
</div>
