.user-avatar {
    width: 280px;
    height: 280px;
    border-radius: 2px;
    box-shadow: 0 0 4px NaNpx rgba(0, 0, 0, 0.4);
  }

  .user-name {
    width: 280px;
    height: 40px;
    font-family: Raleway;
    font-size: 35px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--black);
  }

  .user-login {
    width: 280px;
    height: 25px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--brownish-grey);
  }