<div *ngIf="usuario" fxLayout="column" fxLayoutAlign="space-between">
  <span>{{usuario.login}}</span>
  <span>{{usuario.avatar_url}}</span>
  <span>{{usuario.repos_url}}</span>
  <span>{{usuario.name}}</span>
  <span>{{usuario.company}}</span>
  <span>{{usuario.bio}}</span>
  <span>{{usuario.public_repos}}</span>
  <span>{{usuario.followers}}</span>
  <span>{{usuario.following}}</span>
</div>
