.Not-found-message {
  width: 315px;
  height: 41px;
  font-family: Raleway;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ac53f2;
}