/* You can add global styles to this file, and also import other style files */
@font-face {font-family: "Monaco";src:url("./assets/monaco.ttf");}
@font-face {font-family: "Raleway";src:url("./assets/raleway.extralight.ttf");}
.Home {width: 1152px;height: 700px;background-color: var(--white);}