.search-box{width: 650px;
height: 50px;
background-color: var(--white);
border-style: hidden;
box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.4);}

button {width: 100px;
height: 50px;
border-radius: 2px;
background-color: #ac53f2;
border-style: hidden;
box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.4);}

.Github-Search {
  width: 415px;
  height: 81px;
  font-family: Monaco;
  font-size: 60px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black);
}

.Github-Search .text-style-1 {
  font-family: Raleway;
  font-weight: 200;
  font-style: italic;
}
